{% if attributes -%}
  <div{{ attributes }}>
{% endif %}
  {% if title %}
    <h3 class="dcf-u-mt6 dcf-u-h5 u-sans-serif">{{ title }}</h3>
  {% endif %}

  <{{ list.type }}{{ list.attributes }}>

    {% for row in rows %}
      <li{{ row.attributes }}>{{ row.content }}</li>
    {% endfor %}

  </{{ list.type }}>

{% if attributes -%}
  </div>
{% endif %}